
.rating {
  background-color: #1a1a1a;
  font-size: 2rem;
  padding: 0px 11px 11px;
  text-align: center;
  border-left: 8px solid #fadb14;
  border-right: 8px solid #fadb14;
  border-radius: 15px;
  max-width: 266px;
  margin: 0 auto;
}

.rating li:nth-child(1) {
  font-size: 1rem;
}

.rating li:nth-child(2) {
  font-size: 1.7rem;
}

.rating li:nth-child(3) {
  font-size: 2.2rem;
}


.rating li:nth-child(4) {
  font-size: 2.6rem;
}

.rating li:nth-child(5) {
  font-size: 3rem;
}

